
# node_modules aula 04, sobre lists #
ew/04-lists/for-forin/node_modules/axios/CHANGELOG.md
ew/04-lists/for-forin/node_modules/axios/index.d.ts
ew/04-lists/for-forin/node_modules/axios/index.js
ew/04-lists/for-forin/node_modules/axios/LICENSE
ew/04-lists/for-forin/node_modules/axios/package.json
ew/04-lists/for-forin/node_modules/axios/README.md
ew/04-lists/for-forin/node_modules/axios/SECURITY.md
ew/04-lists/for-forin/node_modules/axios/tsconfig.json
ew/04-lists/for-forin/node_modules/axios/tslint.json
ew/04-lists/for-forin/node_modules/axios/UPGRADE_GUIDE.md
ew/04-lists/for-forin/node_modules/axios/dist/axios.js
ew/04-lists/for-forin/node_modules/axios/dist/axios.map
ew/04-lists/for-forin/node_modules/axios/dist/axios.min.js
ew/04-lists/for-forin/node_modules/axios/dist/axios.min.map
ew/04-lists/for-forin/node_modules/axios/lib/axios.js
ew/04-lists/for-forin/node_modules/axios/lib/defaults.js
ew/04-lists/for-forin/node_modules/axios/lib/utils.js
ew/04-lists/for-forin/node_modules/axios/lib/adapters/http.js
ew/04-lists/for-forin/node_modules/axios/lib/adapters/README.md
ew/04-lists/for-forin/node_modules/axios/lib/adapters/xhr.js
ew/04-lists/for-forin/node_modules/axios/lib/cancel/Cancel.js
ew/04-lists/for-forin/node_modules/axios/lib/cancel/CancelToken.js
ew/04-lists/for-forin/node_modules/axios/lib/cancel/isCancel.js
ew/04-lists/for-forin/node_modules/axios/lib/core/Axios.js
ew/04-lists/for-forin/node_modules/axios/lib/core/buildFullPath.js
ew/04-lists/for-forin/node_modules/axios/lib/core/createError.js
ew/04-lists/for-forin/node_modules/axios/lib/core/dispatchRequest.js
ew/04-lists/for-forin/node_modules/axios/lib/core/enhanceError.js
ew/04-lists/for-forin/node_modules/axios/lib/core/InterceptorManager.js
ew/04-lists/for-forin/node_modules/axios/lib/core/mergeConfig.js
ew/04-lists/for-forin/node_modules/axios/lib/core/README.md
ew/04-lists/for-forin/node_modules/axios/lib/core/settle.js
ew/04-lists/for-forin/node_modules/axios/lib/core/transformData.js
ew/04-lists/for-forin/node_modules/axios/lib/env/data.js
ew/04-lists/for-forin/node_modules/axios/lib/env/README.md
ew/04-lists/for-forin/node_modules/axios/lib/helpers/bind.js
ew/04-lists/for-forin/node_modules/axios/lib/helpers/buildURL.js
ew/04-lists/for-forin/node_modules/axios/lib/helpers/combineURLs.js
ew/04-lists/for-forin/node_modules/axios/lib/helpers/cookies.js
ew/04-lists/for-forin/node_modules/axios/lib/helpers/deprecatedMethod.js
ew/04-lists/for-forin/node_modules/axios/lib/helpers/isAbsoluteURL.js
ew/04-lists/for-forin/node_modules/axios/lib/helpers/isAxiosError.js
ew/04-lists/for-forin/node_modules/axios/lib/helpers/isURLSameOrigin.js
ew/04-lists/for-forin/node_modules/axios/lib/helpers/normalizeHeaderName.js
ew/04-lists/for-forin/node_modules/axios/lib/helpers/parseHeaders.js
ew/04-lists/for-forin/node_modules/axios/lib/helpers/README.md
ew/04-lists/for-forin/node_modules/axios/lib/helpers/spread.js
ew/04-lists/for-forin/node_modules/axios/lib/helpers/validator.js
ew/04-lists/for-forin/node_modules/follow-redirects/debug.js
ew/04-lists/for-forin/node_modules/follow-redirects/http.js
ew/04-lists/for-forin/node_modules/follow-redirects/https.js
ew/04-lists/for-forin/node_modules/follow-redirects/index.js
ew/04-lists/for-forin/node_modules/follow-redirects/LICENSE
ew/04-lists/for-forin/node_modules/follow-redirects/package.json
ew/04-lists/for-forin/node_modules/follow-redirects/README.md
